<footer class="bg-black text-white">
    <div class="max-w-[1580px] mx-auto px-8 py-12">
        <div class="flex justify-between items-center">
            <div>
                <h2 class="text-3xl font-bold mb-4">Got a Project to work with?</h2>
                <p class="text-gray-500">Feel free to reach out for collaborations or just a friendly hello at
                    {{ email() }}</p>
            </div>
            <button class="border rounded-full px-6 py-2">Contact me!</button>
        </div>
        <div class="flex justify-between items-center mt-10 text-sm">
            <ul class="flex gap-6">
                <li><a href="#">About</a></li>
                <li><a href="#">Technologies</a></li>
                <li><a href="#">Works</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="flex gap-4">
                <a [href]="urlOne()" target="_blank">
                    <i [class]="'fab fa-' + iconOne()"></i>
                </a>
                <a [href]="urlTwo()" target="_blank">
                    <i [class]="'fab fa-' + iconTwo()"></i>
                </a>
                <a [href]="urlThree()" target="_blank">
                    <i [class]="'fab fa-' + iconThree()"></i>
                </a>
                <a [href]="urlFour()" target="_blank">
                    <i [class]="'fab fa-' + iconFour()"></i>
                </a>
            </div>
        </div>
        <p class="text-xs text-gray-500 mt-6">©{{ currentYear }} {{ firstName() }} {{ lastName() }}</p>
    </div>
</footer>