<footer id="contact" class="bg-footerBg text-white">
    <div class="max-w-[1580px] mx-auto px-8 py-12">
        <div class="flex justify-between items-center">
            <div>
                <h2 class="text-3xl font-bold mb-5">Got a Project to work with?</h2>
                <p class="text-gray-500 text-lg">Feel free to reach out for collaborations or just a friendly hello at
                    <span class="text-red-500">{{ email() }}</span></p>
            </div>
            <button class="border rounded-full px-6 py-2">Contact me!</button>
        </div>
        <div class="flex justify-between items-center mt-10 text-sm">
            <ul class="flex gap-6 text-sm">
                <li><a href="#about">About</a></li>
                <li><a href="#technologies">Technologies</a></li>
                <li><a href="#works">Works</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <div class="flex gap-4">
                <a [href]="urlOne()" target="_blank">
                    <i [class]="'fab fa-' + iconOne() + ' text-6xl'"></i>
                </a>
                <a [href]="urlTwo()" target="_blank">
                    <i [class]="'fab fa-' + iconTwo() + ' text-6xl'"></i>
                </a>
                <a [href]="urlThree()" target="_blank">
                    <i [class]="'fab fa-' + iconThree() + ' text-6xl'"></i>
                </a>
                <a [href]="urlFour()" target="_blank">
                    <i [class]="'fab fa-' + iconFour() + ' text-6xl'"></i>
                </a>
            </div>         
        </div>
        <p class="text-lg text-gray-500 mt-6">©{{ currentYear }} {{ firstName() }} {{ lastName() }}</p>
    </div>
</footer>