@import url("https://api.fontshare.com/v2/css?f[]=clash-display@1&display=swap");
@import "tailwindcss";

html,
body {
    height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;    
    font-family: "Clash Display", Roboto, "Helvetica Neue", sans-serif;    
}

@theme {
  --color-primary: #F5F5F5;
  --color-secondary: #000000;
  --color-title: #111827;
  --color-description: #4B5563;  
  --color-navbarText: #000000;  
  --color-button: #FF1E00;
  --color-buttonHover: #DC2626;  
  --color-borderColor: #000000;  
  --color-modeIconBg: #F5F5F5; 
  --shadow-card: 12px 12px 0px rgba(0,0,0,0.8);  
  --color-placeholderText: #6B7280;
  --color-footerBg: #000000;
}

.dark {
  /* --color-primary: #000000; */
  --color-secondary: #78C841;
  --color-title: #FFFFFF;
  --color-description: #FFFFFF;
  --color-navbarText: #FFFFFF;  
  --color-button: #FF1E00;  
  --color-buttonHover: #DC2626;  
  --color-borderColor: #000000;  
  --color-modeIconBg: #F5F5F5;  
  --shadow-card: 12px 12px 0px rgba(120, 200, 65, 1);  
  --color-placeholderText: #6B7280;
  --color-footerBg: #000000;
}

/* hidden in light mode */
#finisher-canvas {
  display: none; 
}

/* Show only in dark mode */
.dark #finisher-canvas {
  display: block;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  z-index: -1;
}

/* #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
} */